/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.accesspoint {
  margin: 10px;
}
.wifi {
  padding: 10px;
  margin: 10px;
}
#map-canvas {
    height: 400px;
    margin: 0px;
    padding: 0px;
    width: 50%;
    display: none;
}
.website {
  background: #BC4728;
  padding: 5px;
}
.user {
  background: #31B0D5;
  padding: 20px;
  width: 50%;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100%;
  padding-top: 4em;
  position: absolute;
  top: 0;
  overflow: hidden;
}
header {
  background: #BC4728;
  color: #FFF;
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
  .attackType:before{
    content: "Client: ";
    color: #AAA;
  }

  header h1 {
    margin-top: 10px;
    font-size:1.5em;
  }

.har {
	cursor: pointer;
}

.selected {
	font-size: 30px;
}

.onoffswitch {
    float: right;
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2ECC71; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #E74C3C;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 3px;
    height: 21px;
    background: #FFFFFF;
    border: 1px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 46px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.proxy-controls, .dashboard {
  height: 100%;
  overflow: scroll;
}
.proxy-controls h4 {
  margin-top: .25em;
}
.proxy-controls .panel {
  border-radius: 0;
}

.list-group-item-toggle,
.list-group-item-toggle a {
  background-color: #EEEEEE;
  text-decoration: none;
  color: #000;
}

small {
  color: #999;
  font-size: .8em;
}

.dashboard{
  padding: 1em 0 0 0;
}
.tab-pane {
  padding-top: 2em;
}

.tab-pane nav {
  margin-bottom: 2em;
}
