.unl :link {text-decoration:underline;}     /* unvisited link */
.unl :visited {color:#00FF00;}  /* visited link */
.unl:hover {color:#FF00FF;}  /* mouse over link */
.unl{
	text-decoration:underline;
}
ul.genericList img{
		vertical-align:middle;
		margin:0 5px 0 0;
}
.fl{
	float:left;
	display:inline;
}
div.fragmentWrapper .marT20{
	margin:20px 0 0 0;
}
div.fragmentWrapper .marT10, 
div.fragmentWrapper div.indentHolder  p.marT10{
	margin:10px 0 0 0;
}
.font2{
	font-size:87%;
}
img.inlineTextImage {
	vertical-align:middle;
}