<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/public/css/miniswitch.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">


    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <!-- google maps -->
    <script src="/public/js/googlemapsapi.js"></script>
    <script src="/public/js/mapper.js"></script>
    <!-- spinner -->
    <script type='text/javascript' src='/public/js/spin.js'></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel='stylesheet' href='/public/har-view/css/jquery-ui.css'/>
    <link rel='stylesheet' href='/public/har-view/css/har-viewer.css'/>
  </head>
  <body>
